<template>
  <main>
    <LastSeen/>
    <Header/>
    <Banner/>
    <LastTopic/>
    <Category/>
    <Search/>
    <About/>
    <Footer/>
  </main>
</template>

<script>
import Header from '@/components/Header'
import Banner from '@/components/Banner'
import LastSeen from '@/components/LastSeen'
import LastTopic from '@/components/LastTopic'
import Category from '@/components/Category'
import Search from '@/components/Search'
import About from '@/components/About'
import Footer from '@/components/Footer'
// import { PageHeader } from "@vue-mf/shared-component";

export default {
  components: {
    // PageHeader,
    Footer,
    About,
    Search,
    Category,
    LastTopic,
    LastSeen,
    Banner,
    Header
  }
}
</script>

<style src="@/assets/style.css"></style>
