<template>
  <section class="banner">
    <div class="container">
      <div class="grid grid-cols-12">
        <div class="col-span-6 materi" :key="show">
          <!-- tgl dan penulis -->
          <div v-if="loading" class="laoder h-4"></div>
          <div v-else class="flex items-center">
            <span>{{ tanggal }}</span>
            <span class="line"></span>
            <span>{{ data[show].penulis }}</span>
          </div>
          <!-- materi -->
          <div v-if="loading" class="laoder h-6 my-8"></div>
          <h1 v-else class="title">
            {{ data[show].judul }}
          </h1>
          <router-link v-if="!loading" :to="'/materi/'+data[show].id">
            <button class="btn-outline">
              baca materi
            </button>
          </router-link>
          <!-- navigasi -->
          <div class="navigation mt-8">
            <button class="btn-icon" @click="changeMateri(show, 'left')">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" style="-ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M19 6.41L17.59 5L7 15.59V9H5v10h10v-2H8.41L19 6.41z" fill="#626262"/>
                <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
              </svg>
            </button>
            <div class="mx-4">
              <span class="text-4xl">{{ loading?0:show+1 }}</span>
              <span>/{{ loading?0:total }}</span>
            </div>
            <button class="btn-icon" @click="changeMateri(show, 'right')">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" style="-ms-transform: rotate(225deg); -webkit-transform: rotate(225deg); transform: rotate(225deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M19 6.41L17.59 5L7 15.59V9H5v10h10v-2H8.41L19 6.41z" fill="#626262"/>
                <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
              </svg>
            </button>
          </div>
        </div>
        <div class="hidden md:block col-start-8 col-span-5">
          <img src="https://firebasestorage.googleapis.com/v0/b/dib-school.appspot.com/o/learning.svg?alt=media&token=5bd44296-8d4b-45ad-bf9f-54f704425c0e" alt="banner" width="100%">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import db from '../config/firebase'
export default {
  data: () => ({
    data: [],
    show: 0,
    total: 0,
    tanggal: '',
    loading: false,
    id: 0
  }),
  created() {
    this.getDataMateri()
  },
  methods: {
    getDataMateri () {
      this.loading = true
      db.collection('materi').limit(4).get()
        .then(snapshot => {
          snapshot.docs.forEach((materi, i) => {
            this.data[i] = {...materi.data(), id: materi.id}
          })
          this.total = snapshot.docs.length
          this.id = this.data[this.show].id
          this.tanggal = new Date(this.data[this.show].tanggal.seconds * 1000).toLocaleString('id-ID', { year: 'numeric', month: 'long', day: 'numeric' })
          this.loading = false
        })
        .catch(err => {
          console.log(err)
          this.loading = false
        })
    },
    changeMateri(val, arah) {
      if (arah == 'right' && val < this.total-1) {
        this.show++
      } else if (arah == 'left' && val > 0) {
        this.show--
      }
    }
  }
}
</script>

<style scoped>
.banner{
  height: calc(100vh - 72px);
  @apply flex items-center;
}
@media (max-width: 400px) {
  .banner{
    height: 100%;
    margin-top: 32px;
  }
  .materi{
    @apply col-span-12;
  }
}
.line{
  height: 1px;
  width: 28px;
  @apply bg-black inline-block mx-4;
}
.navigation{
  @apply flex items-center;
}
</style>