<template>
  <section class="category py-10 md:py-20">
    <div class="container">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
        <template v-if="loading">
          <div v-for="item in 4" :key="item" class="loader h-20 rounded-sm"></div>
        </template>
        <template v-else>
          <div v-for="item in categories" :key="item.text" class="text-center">
            <router-link :to="'/search/'+item.id">
              <img :src="item.gambar" alt="category" class="mx-auto" style="height: 200px;width: auto !important;">
              <div class="mt-4 font-bold">{{ item.nama_kategori }}</div>
            </router-link>
          </div>
        </template>
      </div>
    </div>
  </section>
</template>

<script>
import db from '../config/firebase'

export default {
  data: () => ({
    categories: [],
    loading: false
  }),
  created() {
    this.loading = true
    db.collection('kategori').get()
      .then(snapshot => {
       snapshot.docs.forEach((kategori, i) => {
          this.categories[i] = {...kategori.data(), id: kategori.id}
        })
        this.loading = false
      })
      .catch(err => {
        console.log(err)
        this.loading = false
      })
  }
}
</script>

<style>

</style>