<template>
  <header>
    <div class="container">
      <div class="header">
        <a href="https://dib.biz.id/" target="_blank">
          <img src="https://firebasestorage.googleapis.com/v0/b/dib-school.appspot.com/o/color.svg?alt=media&token=90b44b5e-92e5-4b4c-a281-7cb8cec96610" alt="logo" width="50px">
        </a>

        <nav class="flex items-center">
          <router-link to="/" class="hidden md:block px-4">
            <div>Beranda</div>
          </router-link>
          <a :href="item.link" target="_blank"
            v-for="item in nav" :key="item.text" class="hidden md:block px-4">
            {{ item.text }}
          </a>
          <router-link to="/search">
            <button class="btn-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5z" fill="#626262"/>
                <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
              </svg>
            </button>
          </router-link>
        </nav>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  data: () => ({
    nav: [
      { text: 'Tentang Kami', link: 'https://dib.biz.id/siapa-kami/' },
      { text: 'Kontak Kami', link: 'https://dib.biz.id/layanan-kami/' }
    ]
  })
}
</script>

<style scoped>
nav div{
  @apply cursor-pointer;
}
</style>