<template>
  <section v-show="visible" class="last-seen hidden md:block">
    <div class="container">
      <div class="content">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="30px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <path d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5z" fill="white"/>
          <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
        </svg>
        <div class="capitalize font-bold text-white ml-8 mr-auto">
          {{ data.judul }}
        </div>
        <router-link :to="'/materi/'+data.id">
          <button class="btn-primary white rounded-full text-sm">
            baca lagi
          </button>
        </router-link>
        <button class="btn-icon ml-8" @click="hide">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z" fill="#ffffff"/>
            <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
          </svg>
        </button>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: () => ({
    visible: false,
    data: {}
  }),
  created() {
    if (localStorage.getItem('materi')) {
      this.visible = true
      this.data = JSON.parse(localStorage.getItem('materi'))
    }
  },
  methods: {
    hide() {
      window.localStorage.removeItem('materi')
      this.visible = false
    }
  }
}
</script>

<style scoped>
.last-seen{
  @apply bg-blue-600;
}
.content{
  height: 72px;
  @apply flex items-center justify-between;
}
.btn-icon{
  @apply bg-blue-600;
}
.btn-icon:hover{
  @apply bg-blue-700;
}
</style>