<template>
  <section class="last-topic py-12 md:py-32">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-1 col-start-2 arrow items-center">
        <div class="side">
          <button class="btn-icon" @click="changeMateri(show, 'left')">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" style="-ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
              <path d="M19 6.41L17.59 5L7 15.59V9H5v10h10v-2H8.41L19 6.41z" fill="#626262"/>
              <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
            </svg>
          </button>
        </div>
      </div>
      <!--  -->
      <div class="col-span-8 materi">
        <h1 class="title">Terpopuler</h1>
        <div class="md:flex items-center" :key="show">
          <img v-if="!loading" :src="data[show].gambar" alt="materi" class="w-full md:w-1/2">
          <div class="w-full md:w-1/2">
            <div class="card">
              <div class="card-body">
                <!-- tgl -->
                <div v-if="loading" class="laoder h-4"></div>
                <div v-else>{{ tanggal }}</div>
                <!-- title -->
                <div v-if="loading" class="laoder h-6 my-4"></div>
                <h1 v-else class="title text-2xl my-4">
                  {{ data[show].judul }}
                </h1>
                <!-- desc -->
                <!-- <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Totam labore, illo voluptates autem porro iure corporis itaque 
                  ullam consequatur nam? Minus doloribus...
                </p> -->
                <!-- rating -->
                <div class="rating mt-4">
                  <img 
                    v-for="(item, i) in stars" :key="i"
                    :src="item" 
                    alt="rating"
                  >
                  <span class="ml-3">{{ loading?0:data[show].rating.poin.toFixed(1) }}</span>
                </div>
                <!-- read -->
                <div class="read mt-2">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <path d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5z" fill="#2563eb"/>
                    <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
                  </svg>
                  <span class="ml-4">{{ loading?0:data[show].jumlah_dibaca }}</span>
                </div>
                <!-- button action -->
                <router-link v-if="!loading" :to="'/materi/'+data[show].id">
                  <button class="btn-outline mt-8">
                    lihat sekarang
                  </button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full flex items-center md:justify-end">
          <button class="btn-icon ml-4 block md:hidden" @click="changeMateri(show, 'left')">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" style="-ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
              <path d="M19 6.41L17.59 5L7 15.59V9H5v10h10v-2H8.41L19 6.41z" fill="#626262"/>
              <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
            </svg>
          </button>
          <!--  -->
          <div class="mx-4 md:mx-0">
            <span class="text-4xl">{{ loading?0:show+1 }}</span>
            <span>/{{ loading?0:total }}</span>
          </div>
          <!--  -->
          <button class="btn-icon block md:hidden" @click="changeMateri(show, 'right')">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" style="-ms-transform: rotate(225deg); -webkit-transform: rotate(225deg); transform: rotate(225deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
              <path d="M19 6.41L17.59 5L7 15.59V9H5v10h10v-2H8.41L19 6.41z" fill="#626262"/>
              <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
            </svg>
          </button>
        </div>
      </div>
      <!--  -->
      <div class="col-span-1 arrow items-center">
        <div class="side">
          <button class="btn-icon" @click="changeMateri(show, 'right')">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" style="-ms-transform: rotate(225deg); -webkit-transform: rotate(225deg); transform: rotate(225deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
              <path d="M19 6.41L17.59 5L7 15.59V9H5v10h10v-2H8.41L19 6.41z" fill="#626262"/>
              <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import db from '../config/firebase'

export default {
  data: () => ({
    data: [],
    loading: false,
    id: '',
    total: 0,
    show: 0,
    tanggal: '',
    stars: []
  }),
  created() {
    this.getDataMateri()
  },
  methods: {
    getDataMateri () {
      this.loading = true
      db.collection('materi').orderBy('jumlah_dibaca', 'desc').limit(3).get()
        .then(snapshot => {
          snapshot.docs.forEach((materi, i) => {
            this.data[i] = {...materi.data(), id: materi.id}
          })
          this.total = snapshot.docs.length
          this.id = this.data[this.show].id
          this.tanggal = new Date(this.data[this.show].tanggal.seconds * 1000).toLocaleString('id-ID', { year: 'numeric', month: 'long', day: 'numeric' })
          this.setStar(this.data[this.show].rating.poin)
          this.loading = false
        })
        .catch(err => {
          console.log(err)
          this.loading = false
        })
    },
    setStar(rating) {
      if (rating < 1) {
        rating = 1
      }
      const bil = Math.floor(rating)
      const star = 'https://firebasestorage.googleapis.com/v0/b/dib-school.appspot.com/o/star.svg?alt=media&token=de9136ed-f8ad-423e-9724-0764c9629a66'
      const star_half = 'https://firebasestorage.googleapis.com/v0/b/dib-school.appspot.com/o/star-half.svg?alt=media&token=a97137c7-3a0e-43f1-a845-832ad396fe3c'
      const star_outline = 'https://firebasestorage.googleapis.com/v0/b/dib-school.appspot.com/o/star-outline.svg?alt=media&token=505b13a0-554a-40ae-9ae6-5f7089397826'

      for (let index = 0; index < 5; index++) {
        if (index < bil) {
          this.stars[index] = star
        } else if ((rating - bil) !== 0) {
          this.stars[index] = star_half
        } else {
          this.stars[index] = star_outline
        }
      }
    },
    changeMateri(val, arah) {
      if (arah == 'right' && val < this.total-1) {
        this.show++
      } else if (arah == 'left' && val > 0) {
        this.show--
      }
    }
  },
  watch: {
    show(val) {
      this.setStar(this.data[val].rating.poin)
    }
  }
}
</script>

<style scoped>
.card-body{
  @apply py-8 px-4;
}
.rating, .read{
  @apply flex items-center;
}
.rating img{
  @apply mr-1 h-6;
}
.side{
  @apply w-full flex items-center justify-center;
}
.arrow{
  @apply flex;
}
@media (max-width: 400px) {
  .materi{
    @apply col-span-12;
  }
  .arrow{
    @apply hidden;
  }
}
</style>