<template>
  <section class="search py-10 md:py-20">
    <div class="container">
      <div class="grid grid-cols-12 gap-4">
        <div class="md:col-start-2 md:col-span-5 search-desc">
          <h1 class="title my-0">
            Cari dan temukan materi secara gratis
          </h1>
          <p class="my-8">
            Lihat materi secara penuh dan gratis hanya dengan
            mencari kemudian pilih materinya. Semua itu bisa dilakukan sekarang juga
            tanpa batasan apapun, kapanpun, dan dimanapun.
          </p>
          <router-link to="/search">
            <button class="btn-outline">
              cari sekarang
            </button>
          </router-link>
        </div>
        <div class="col-span-5 hidden md:block">
          <img src="https://firebasestorage.googleapis.com/v0/b/dib-school.appspot.com/o/searching.svg?alt=media&token=3bd15faf-5f5d-48a2-86fe-b6f1bb90cc56" alt="searching" width="100%">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {

}
</script>

<style scoped>
@media (max-width: 400px) {
  .search-desc{
    @apply col-span-12;
  }
}
</style>